* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid red;
}

.header{
    height: 70px;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.logo{
    grid-column: 1 / span 1;
    display: flex;
    justify-content: flex-start;
}
.logo .icon{
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
.menu{
    grid-column: 2 / span 1;
    display: flex;
    height: 32px;
    justify-content: flex-end;
    align-items: center;
}

.menu a{
    display: inline;
    padding: .5em 1.5em;
    margin: .5em;
}

main{
    height: auto;
    max-width: 900px;
    margin: 0 auto;
    padding: .5em;
}

main .post-destacado{
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: minmax(100px, 1fr) 5fr;
    grid-template-rows: minmax(100px, 1fr);
}


main .imagenes{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

main .imagenes .imgPost{
    height: 100px;
    width: 100px;
    margin: .5em 1em;
    display: flex;
    align-items: flex-end;
}

main .imagenes .imgPost .title{
    height: 20px;
    width: 100%;
}

article{
    height: auto;
    margin-top: .5em;
    padding: .5em;
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-template-rows: minmax(1fr, 2fr);
    justify-content: space-around;
}

 article .block-text{
     height: 300px;
     margin: .5em;
 }


 @media screen and (max-width: 839px){
     article{
        grid-template-columns: 100%;
     }
     .menu a{
        padding: .5em 1.2em;
 }